/* styles.css */

body {
  margin: 0;
  padding: 0;
}
.sidebar {
  width: 200px;
  height: 100%;
  background-color: #0073a0; /* 하늘색 */
  position: fixed;
  left: 0;
  top: 0;
  padding-top: 20px;
  border-radius:px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.padding {
  background-color: #0073a0; /* 남색의 배경색 */
  height: 30px; /* 원하는 높이 */
  border-bottom: 1px solid #0c3252;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu li {
  margin-bottom: 0; /* 기존의 마진 제거 */
}

.menu li a {
  display: block;
  padding: 20px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  text-align: center;
  border-bottom: 1px solid #0c3252; /* 메뉴 버튼 간의 경계선 */
}

.menu li a:hover {
  background-color: #185066; /* 더 짙은 하늘색 */
}

.content {
  border: 2px solid #000000; /* 박스 테두리 스타일 */
  border-radius: 5px; /* 박스 테두리를 둥글게 만듦 */
  margin-bottom: 20px; /* 박스와 다음 내용 간격 조정 */

  margin-left: 220px; /* 사이드바와 겹치지 않도록 왼쪽 여백 추가 */
  margin-right: 100px;
  margin-top: 60px;
  padding: 20px; /* 내용 주변에 패딩 추가 */
}
.content div{
  font-size:20px;
  width:15%;
  border: 2px solid #979797; /* 박스 테두리 스타일 */
  border-radius: 5px; /* 박스 테두리를 둥글게 만듦 */
  margin-bottom: 20px; /* 박스와 다음 내용 간격 조정 */
  padding: 20px;
}
.content div:hover{
  background-color: #dbdbdb;
}

 .content button{
	margin-top: 25px;
  }

table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid black;
}
tr {
  height:40px;
}
tr {
height:40px;
}

th, td {
  padding: 8px;
  text-align:center;
}
th {
  background-color: #f2f2f2;
}
.e_role {
  width:20%;
}
.e_name{
  width:20%;
}
.e_email{
  width:60%;
}
.e_detail:hover{
  background-color: #dbdbdb;
}