body {
    margin: 0;
    padding: 0;
}
.sidebar {
    width: 200px;
    height: 100%;
    background-color: #0073a0; /* 하늘색 */
    position: fixed;
    left: 0;
    top: 0;
    padding-top: 20px;
}
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    text-align: center;
    margin-bottom: 20px;
}
.padding {
    background-color: #0073a0; /* 남색의 배경색 */
    height: 30px;
    border-bottom: 1px solid #0c3252;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    text-align: center;
    border-bottom: 1px solid #0c3252;
}
.menu li a:hover {
    background-color: #185066;
}
.content {
    margin-left: 220px;
    margin-right: 100px;
    margin-top: 60px;
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid #000000;
    border-radius: 5px;
}
table {
    width: 100%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}
tr {
    height: 40px;
}
th, td {
    padding: 8px;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.e_detail:hover{
	background-color: #dbdbdb;
}

.emp_manage_button {
    position: absolute;
    top: 135px;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #0073a0;
    color: white;
    cursor: pointer;
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top:25px;
}

.emp_manage_button:hover {
    background-color: #13446b;
}

.emp_manage_add {
    right: 265px; /* 위치 조정 */
}
.emp_manage_add::after {
    content: '\002B';
    margin-left: 5px;
}

.emp_manage_edit {
    right: 120px; /* 위치 조정 */
}
.emp_manage_edit::before {
    content: '\270F';
    margin-right: 5px;
}
.emp_manage_delete {
    right: 120px; /* 위치 조정 */
}
.emp_manage_delete::before {
    content: '\1F5D1';
    margin-right: 5px;
}
