<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OfficeMate</title>
	<link rel="stylesheet" href="../css/salary_styles.css">
</head>

<script th:inline="javascript">
	var token = /*[[${_csrf.token}]]*/ '';

	function addMonthSalary() {

		fetch('/admin/addMonthSalary', {
			method: 'POST',
			headers: {
				'X-CSRF-TOKEN': token
			}
		})
			.then(response => {
				if (response.ok) {
					// 성공적으로 처리되었을 때 추가 동작 수행
					window.location.href = '/admin/salary';
				} else {
					return response.text(); // 응답 본문 가져오기
				}
			})
			.then(body => {
				if (body.includes('error=duplicateMonth')) {
					alert('이번 달 급여대장이 이미 존재합니다.');
				} else {
					console.error('월급여 추가 실패');
				}
			})
			.catch(error => {
				console.error('월급여 추가 중 오류 발생:', error);
			});
	}

	/*<![CDATA[*/
	function confirmPayment(paymentMonth) {

		if (confirm("확정하시겠습니까?")) {
			var url = /*[[@{/admin/salaryPaymentComplete}]]*/ '';
			url += '?paymentMonth=' + paymentMonth;
			window.location.href = url;
		}
	}
	/*]]>*/
</script>

<body>
	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

	<div class="sidebar">
		<a href="/home" style="text-decoration: none;">
			<div class="logo">OfficeMate</div>
		</a>
		<div class="padding"></div> <!-- 여백 추가 -->
		<ul class="menu">
			<li><a href="../notice">공지사항</a></li>
			<li><a href="../dept">부서</a></li>
			<li><a href="../work">업무</a></li>
			<li><a href="../attendance">출퇴근</a></li>
			<li><a href="../document">문서</a></li>
			<li><a href="../salary" style="background-color:#185066">급여지급</a></li>
			<div sec:authorize="hasRole('ADMIN')">
				<li><a href="../admin/empManage">전체사원관리</a></li>
			</div>
		</ul>
	</div>

	<div class="content">
		<h2>급여계산/대장</h2>
		<br>
		<button onclick="addMonthSalary()">신규</button>
		<br><br>
		<table>
			<tr>
				<th style="width:20%">급여명칭</th>
				<th style="width:10%">지급년월</th>
				<th style="width:20%">지급총액</th>
				<th style="width:10%">급여대장</th>
				<th style="width:10%">명세서</th>
				<th style="width:10%">상태</th>
			</tr>
			<tr th:each="monthSalary : ${monthSalaryList}">
				<td th:text="${monthSalary.paymentDescription}"></td>
				<td th:text="${#temporals.format(monthSalary.paymentMonth, 'yy년 M월')}"></td>
				<td th:text="${#numbers.formatInteger(monthSalary.totalAmount, 3, 'COMMA') + '원'}" />
				<td><a th:href="@{'salaryLedger?monthSalaryId=' + ${monthSalary.monthSalaryId}}">조회</a><br><br>
					<a href="#" th:onclick="'confirmPayment(\'' + @{${monthSalary.paymentMonth}} + '\');'">지급확정</a>
				</td>
				<td><a href="">조회</a></td>
				<td th:text="${monthSalary.paymentState}"></td>
			</tr>
		</table>
	</div>
	<div class="logo2">
			OfficeMate
	</div>


</body>


</html>