<!DOCTYPE html>
<html>

<head>
	<title>급여명세서</title>
	<link rel="stylesheet" href="../css/salary_styles.css">
</head>
<script th:inline="javascript">
	function payBonus() {
		var bonus = document.getElementById('bonus').value;
		var salaryId = document.getElementById('salaryId').value;
		var csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
		var csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
	
		if (!bonus || !salaryId) {
		    alert("보너스 금액과 급여 ID를 확인해주세요.");
		    return;
		}
		
		var url = '/payBonus?salaryId=' + salaryId + '&bonus=' + bonus;
		
		fetch(url, {
			method: 'POST',
			headers: {
				'Content-Type': 'application/json',
				[csrfHeader]: csrfToken
			},
			body: JSON.stringify({
				salaryId: salaryId,
				bonus: bonus
			})
		})
		.then(response => response.json())
		.then(data => {
			if (data.success) {
				alert('보너스가 성공적으로 지급되었습니다.');
			} else {
				alert('보너스 지급에 실패했습니다.');
			}
		})
		.catch(error => console.error('Error:', error));
	}
</script>
<body>

	<div class="content" style="	margin-left: 100px; background-color: #fff;">
		<h2 th:text="${#strings.substring(salary.salaryDate.toString(), 0, 7) + ' (급여)'}"></h2>
		<div class="button-container">
			<form id="bonusForm">
				<label for="bonusAmount">보너스 금액: </label>
				<input type="number" id="bonus" name="bonus" min="0" step="10000" required>
				<button type="button" onclick="payBonus()">보너스 지급</button>
				<input type="hidden" id="salaryId" name="salaryId" th:value="${salary.salaryId}">
			</form><br>
			<input type="button" value="인쇄" onclick="window.print()" />
			<button class="back-button" onclick="location.href='/salary'">뒤로가기</button>
		</div>
		<br><br>
		<table>
			<tr>
				<th>사원번호</th>
				<td th:text="${user.userId}"></td>
				<th>성명</th>
				<td th:text="${user.username}"></td>
				<th>직급</th>
				<td th:text="${user.userRank}"></td>
			</tr>
			<tr>
				<th>부서번호</th>
				<td th:text="${dept.departmentId}"></td>
				<th>부서</th>
				<td th:text="${dept.departmentName}"></td>
				<th>지급일</th>
				<td th:text="${salary.salaryDate}"></td>
			</tr>
			<tr>
				<th>지급총액</th>
				<td th:text="${#numbers.formatDecimal(salary.amount+salary.bonus, 0, 'COMMA', 0, 'POINT')}"></td>
				<th>공제총액</th>
				<td th:text="${#numbers.formatDecimal(salary.amount*0.1, 0, 'COMMA', 0, 'POINT')}"></td>
				<th>실지급액</th>
				<td th:text="${#numbers.formatDecimal(salary.amount*0.9+salary.bonus, 0, 'COMMA', 0, 'POINT')}"></td>
			</tr>
		</table>
		<table>
			<tr>
				<th>수당항목명</th>
				<th>지급유형</th>
				<th>근무기록</th>
				<th>수당금액</th>
				<th>배율</th>
				<th>금액</th>
				<th>산출방법</th>
			</tr>
			<tr>
				<td>급여</td>
				<td th:text="${salary.paymentMethod}"></td>
				<td></td>
				<td></td>
				<td></td>
				<td th:text="${#numbers.formatDecimal(salary.amount-180000, 0, 'COMMA', 0, 'POINT')}"></td>
				<td></td>
			</tr>
			<tr>
				<td>식대</td>
				<td>지급유형</td>
				<td></td>
				<td></td>
				<td></td>
				<td>180,000</td>
				<td></td>
			</tr>
			<tr>
				<td>보너스</td>
				<td>지급유형</td>
				<td></td>
				<td></td>
				<td></td>
				<td	th:text="${#numbers.formatDecimal(salary.bonus, 0, 'COMMA', 0, 'POINT')}"></td></td>
				<td></td>
			</tr>
			<tr>
				<th colspan="2">지급유형</th>
				<th></th>
				<th></th>
				<th></th>
				<th th:text="${#numbers.formatDecimal(salary.amount+salary.bonus, 0, 'COMMA', 0, 'POINT')}"></th>
				<th></th>
			</tr>
		</table>
		<table>
			<tr>
				<th>공제항목명</th>
				<th>금액</th>
				<th>산출방법</th>
			</tr>
			<tr>
				<td style="text-align: left;">소득세</td>
				<td th:text="${#numbers.formatDecimal(salary.amount*0.03, 0, 'COMMA', 0, 'POINT')}"
					style="text-align: right;"></td>
				<td></td>
			</tr>
			<tr>
				<td style="text-align: left;">주민세</td>
				<td th:text="${#numbers.formatDecimal(salary.amount*0.003, 0, 'COMMA', 0, 'POINT')}"
					style="text-align: right;"></td>
				<td></td>
			</tr>
			<tr>
				<td style="text-align: left;">건강보험</td>
				<td th:text="${#numbers.formatDecimal(salary.amount*0.06, 0, 'COMMA', 0, 'POINT')}"
					style="text-align: right;"></td>
				<td></td>
			</tr>
			<tr>
				<td style="text-align: left;">고용보험</td>
				<td th:text="${#numbers.formatDecimal(salary.amount*0.007, 0, 'COMMA', 0, 'POINT')}"
					style="text-align: right;"></td>
				<td></td>
			</tr>
			<tr>
				<th>합계</th>
				<th th:text="${#numbers.formatDecimal(salary.amount*0.1, 0, 'COMMA', 0, 'POINT')}"
					style="text-align: right;"></th>
				<th></th>
			</tr>
		</table>
	</div>
	<div class="logo2">
		OfficeMate
	</div>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</body>

</html>