<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OfficeMate</title>
	<link rel="stylesheet" href="css/salary_styles.css">
	<link rel="stylesheet" href="../css/total_styles.css">
</head>
<body>

	<div class="sidebar">
		<a href="/home" style="text-decoration: none;">
			<div class="logo">OfficeMate</div>
		</a>
		<div class="padding"></div> <!-- 여백 추가 -->
		<ul class="menu">
			<li><a href="notice">공지사항</a></li>
			<li><a href="dept">부서</a></li>
			<li><a href="work">업무</a></li>
			<li><a href="attendance">출퇴근</a></li>
			<li><a href="document">문서</a></li>
			<li><a href="salary" style="background-color:#185066">급여지급</a></li>
			<div sec:authorize="hasRole('ADMIN')">
				<li><a href="admin/empManage">전체사원관리</a></li>
			</div>
		</ul>
		<div class="action-container">
			<span class="usernameCss" th:text="${username}"></span><span class="usernameCss2"> 님 환영합니다!</span><br>
			<a class="logout" href="/logout">로그아웃</a>
			<a class="myProfile" href="userDetailDefault">내 정보</a>
		</div>
	</div>

	<div class="content">
		<header>
			<h1>급여 지급 내역</h1>
		</header>
		<div sec:authorize="hasRole('ADMIN')">
			<button style="right:240px;"
				onclick="window.open('../document/user_search.html','blank', 'resizealbe=yes scrollbars=no width=790 height=450 left=100 top=200')">검색</button>
		</div>
		<br>
		<table>
			<tr>
				<th style="width:20%">급여지급일</th>
				<th style="width:20%">급여 내용</th>
				<th style="width:15%">급여액</th>
				<th style="width:15%">지급 방식</th>
				<th	style="width:10%">명세서</th>
			</tr>
			<tr th:each="salary:${salaryList}">
				<td th:text="${salary.salaryDate}"></td>
				<td th:text="${salary.description}"></td>
				<td th:text="${#numbers.formatDecimal(salary.amount, 0, 'COMMA', 0, 'POINT')}"></td>
				<td th:text="${salary.paymentMethod}"></td>
				<td><a th:href="@{'/statement?salaryId=' + ${salary.salaryId}}">조회</a></td>
			</tr>

		</table>
	</div>
	
		<div class="logo2">
				OfficeMate
		</div>

		<footer class="footer">
		    <a href="contact">Contact</a>
		    <a href="about">About</a>
		    <a href="privacy">Privacy Policy</a>
		</footer>


</body>

</html>