<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>OfficeMate</title>
	<link rel="stylesheet" href="css/docu_styles.css">
</head>

<body>

	<div class="sidebar">
		<div class="logo">OfficeMate</div>
		<div class="padding"></div> <!-- 여백 추가 -->

		<ul class="menu">
			<li><a href="notice.html">공지사항</a></li>
			<li><a href="dept.html">부서</a></li>
			<li><a href="work.html">업무</a></li>
			<li><a href="commute.html">출퇴근</a></li>
			<li><a href="document.html" style="background-color:#185066">문서</a></li>
			<li><a href="salary.html">급여지급</a></li>
			<li><a href="emp_manage.html">전체사원관리</a></li>
		</ul>
	</div>

	<div class="content">
		<h2>문서 등록</h2>
		<form th:action="@{/documentAddConfirm}" method="post" enctype="multipart/form-data">
		<br>
		<button class="docu_edit" style="right:120px" type="submit">완료</button>
		<hr>
			<textarea class="docu_name" name="documentName"></textarea>
			<hr>
			<input type="file" name="files" accept=".pdf,.doc,.docx,.txt" multiple> <!-- 여러 파일 선택 -->
			<textarea class="docu_text" name="description"></textarea>
		</form>
	</div>


</body>

</html>