<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>OfficeMate</title>
  <link rel="stylesheet" href="css/docu_styles.css">
</head>
<body>

  <div class="sidebar">
    <div class="logo">OfficeMate</div>
    <div class="padding"></div> <!-- 여백 추가 -->

    <ul class="menu">
      <li><a href="notice.html">공지사항</a></li>
      <li><a href="dept.html">부서</a></li>
      <li><a href="work.html">업무</a></li>
      <li><a href="commute.html">출퇴근</a></li>
      <li><a href="docu.html" style="background-color:#185066">문서</a></li>
      <li><a href="salary.html">급여지급</a></li>
      <li><a href="emp_manage.html">전체사원관리</a></li>
    </ul>
  </div>

  <div class="content">
    <h2>문서 예시</h2>
    <br>
      <button class="docu_edit" onclick="location.href='docu_edit.html'">수정</button>
      <button class="docu_delete" onclick="location.href='docu.html'">삭제</button>
      <button class="docu_share" onclick="window.open('user_search.html','blank', 'resizealbe=yes scrollbars=no width=790 height=450 left=100 top=200')" >공유</button>
      <button class="docu_dload" >다운로드</button>
      <hr>
    <form class="docu_form">

      <div>
      <span class="docu_details">작성자:   </span><span>장성민</span>
      <span class="docu_details">작성일:   </span><span>2024/05/04</span>
      <hr>
      </div>
      <textarea class="docu_text" readonly></textarea>
      </form>
  </div>
  

</body>
</html>
