<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>OfficeMate</title>
	<link rel="stylesheet" href="css/docu_styles.css">
</head>

<body>

	<div class="sidebar">
		<a href="/home" style="text-decoration: none;"><div class="logo">OfficeMate</div></a>
		<div class="padding"></div> <!-- 여백 추가 -->

		<ul class="menu">
			<li><a href="notice">공지사항</a></li>
			<li><a href="dept">부서</a></li>
			<li><a href="work">업무</a></li>
			<li><a href="attendence">출퇴근</a></li>
			<li><a href="document" style="background-color:#185066">문서</a></li>
			<li><a href="salary">급여지급</a></li>
			<div sec:authorize="hasRole('ADMIN')">
				<li><a href="admin/empManage">전체사원관리</a></li>
			</div>
		</ul>
	</div>
	
	<div class="login-container">
	  	<button class="login-button">로그인</button>
	</div>
	
	<div class="content">
		<h2>문서 등록</h2>
		<form th:action="@{/documentAddConfirm}" method="post" enctype="multipart/form-data">
		<br>
		<button class="docu_edit" style="right:120px" type="submit">완료</button>
		<hr>
			<textarea class="docu_name" name="documentName"></textarea>
			<hr>
			<input type="file" name="file" accept=".pdf,.doc,.docx,.txt"><br>
			<span style="font-size: 10px; color: lightgray;">(1MB 이하의 문서만 업로드하세요)</span>
			<textarea class="docu_text" name="description"></textarea>
		</form>
	</div>


</body>

</html>