<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="../css/search_styles.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OfficeMate</title>
    <link rel="stylesheet" href="../css/user_styles.css">
</head>

<body>
	<div class="sidebar">
			<div class="logo">OfficeMate</div>
			<div class="padding"></div>
	</div>
			
	<div class="content">
	    <h1>Log in</h1>
		<form th:action="@{/loginProc}" method="post">
				<input type="text" class="input_t" id="username" name="username" placeholder="username" required>
				<br>
				<input type="password" class="input_t" id="password" placeholder="password" name="password" required>
				<br>
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
				<button type="submit">Login</button>
			</form>
		<br>
		<div><a href="../join">or join</a></div>
	</div>

	
</body>

</html>