<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OfficeMate</title>
	<link rel="stylesheet" href="../css/user_styles.css">

</head>
<script th:inline="javascript">
	/*<![CDATA[*/
	var message = /*[[${message}]]*/ '';
	if (message) {
		alert(message);
	}
	/*]]>*/
</script>

<body>
	<div class="sidebar">
		<div class="logo">OfficeMate</div>
		<div class="padding"></div>
	</div>
	<div class="content">
		<h1>Join</h1>
		<form th:action="@{/joinProc}" method="post">
			<input type="text" class="input_t" id="username" name="username" placeholder="username" required>
			<br>
			<input type="password" class="input_t" id="password" name="password" placeholder="password" required>
			<br>
			<button type="submit">Join</button>
		</form>
	</div>
</body>

</html>