	<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OfficeMate</title>
	<link rel="stylesheet" href="../../css/user_styles.css">
</head>

<script>
	function confirmUpdate(event) {
		if (!confirm("정말 수정하시겠습니까?")) {
			event.preventDefault(); // 폼 제출을 취소
		}
	}

	function confirmDelete(event) {
		if (!confirm("정말 삭제하시겠습니까?")) {
			event.preventDefault(); // 폼 제출을 취소
		}
	}
</script>


<body>
	<div class="logo2">
			OfficeMate
	</div>
	<div class="content">
		<div style="text-align: center;">
			<div th:if="${base64EncodedFile == null}">
				<img th:src="@{/images/user-profile.png}" width="100" height="100" style="border-radius: 50px;">
			</div>
			<div th:if="${base64EncodedFile != null}">
				<img th:src="'data:image/*;base64,' + ${base64EncodedFile}" class="rounded mx-auto d-block" alt="Notice Image" width="100" height="120" style="border-radius: 50px;">
			</div>

		</div>
		<form th:action="@{/admin/userDetailUpdate}" method="post" onsubmit="confirmUpdate(event)">
			<div class="detail_text" th:text="${user.username}"></div>
			<h3>부서명</h3>
			<div>
			    <select name="departmentId" class="detail_select">
			        <option value="0">없음</option>
			        <option th:each="dept : ${deptList}" th:value="${dept.departmentId}"
			            th:text="${dept.departmentName}"
			            th:selected="${deptOne != null} ? ${dept.departmentId == deptOne.departmentId} : false">
			        </option>
			    </select><br>
			</div>

			<h3>직급</h3>
			<select name="userRank" class="detail_select">
				<option value="사장" th:selected="${user.userRank == '사장'}">사장</option>
				<option value="부사장" th:selected="${user.userRank == '부사장'}">부사장</option>
				<option value="팀장" th:selected="${user.userRank == '팀장'}">팀장(부장)</option>
				<option value="과장" th:selected="${user.userRank == '과장'}">과장</option>
				<option value="대리" th:selected="${user.userRank == '대리'}">대리</option>
				<option value="사원" th:selected="${user.userRank == null || user.userRank == '사원'}">사원</option>
			</select><br>

			<h3>성별</h3>
			<select name="gender" class="detail_select">
				<option value="">없음</option>
				<option value="남자" th:selected="${user.gender == '남자'}">남자</option>
				<option value="여자" th:selected="${user.gender == '여자'}">여자</option>
			</select><br>
			
			<h3>주민번호</h3>
			<input type="text" name="birth" th:value="${user.birth}" class="detail_input"><br>
			
			<h3>이메일</h3>
			<input type="text" name="email" th:value="${user.email}" class="detail_input"><br>
			
			<h3>전화번호</h3>
			<input type="text" name="phone" th:value="${user.phone}" class="detail_input"><br>
			
			<h3>입사날짜</h3>
			<input type="text" name="hiredate" th:value="${user.hiredate}" class="detail_input"><br>
			
			<h3>월급</h3>
			<input type="text" name="monthSalary" th:value="${user.monthSalary}" class="detail_input"><br>
			
			<input type="hidden" name="userId" th:value="${user.userId}">
		</form>

		<button onclick="location.href='/home'" class="back-button" 		style="background-color:gray;">돌아가기</button>
	</div>

</body>

</html>