<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OfficeMate</title>
    <link rel="stylesheet" href="../../css/user_styles.css">
</head>

<body>
    <div class="logo2">
        OfficeMate
    </div>
    <div class="content">
        <div style="text-align: center;">
            <div th:if="${base64EncodedFile == null}">
                <img th:src="@{/images/user-profile.png}" width="100" height="100" style="border-radius: 50px;">
            </div>
            <div th:if="${base64EncodedFile != null}">
                <img th:src="'data:image/*;base64,' + ${base64EncodedFile}" class="rounded mx-auto d-block"
                    alt="Notice Image" width="100" height="120" style="border-radius: 50px;">
            </div>
        </div>
        <div class="detail_text" th:text="${user.username}"></div>
        <h3>부서명</h3>
        <input type="text" name="departmentName" th:value="${deptOne != null ? deptOne.departmentName : '없음'}" class="detail_input" readonly><br>

        <h3>직급</h3>
        <input type="text" name="userRank" th:value="${user.userRank != null ? user.userRank : '사원'}" class="detail_input" readonly><br>

        <h3>직책</h3>
        <input type="text" name="userPosition" th:value="${user.userPosition != null ? user.userPosition : '없음'}" class="detail_input" readonly><br>

        <h3>성별</h3>
        <input type="text" name="gender" th:value="${user.gender != null ? user.gender : '없음'}" class="detail_input" readonly><br>

        <h3>이메일</h3>
        <input type="text" name="email" th:value="${user.email}" class="detail_input" readonly><br>

        <h3>전화번호</h3>
        <input type="text" name="phone" th:value="${user.phone}" class="detail_input" readonly><br>

        <h3>입사날짜</h3>
        <input type="text" name="hiredate" th:value="${user.hiredate}" class="detail_input" readonly><br>

        <button onclick="location.href='/home'" class="back-button" style="background-color:gray;">돌아가기</button>
    </div>
</body>

</html>
