<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OfficeMate</title>
	<link rel="stylesheet" href="../css/dept_styles.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
	<div class="sidebar">
		<a href="/home" style="text-decoration: none;">
			<div class="logo">OfficeMate</div>
		</a>
		<div class="padding"></div> <!-- 여백 추가 -->
		<ul class="menu">
			<li><a href="../notice">공지사항</a></li>
			<li><a href="../dept" style="background-color:#185066">부서</a></li>
			<li><a href="../work">업무</a></li>
			<li><a href="../attendance">출퇴근</a></li>
			<li><a href="../document">문서</a></li>
			<li><a href="../salary">급여지급</a></li>
			<div sec:authorize="hasRole('ADMIN')">
				<li><a href="../admin/empManage">전체사원관리</a></li>
			</div>
		</ul>
	</div>
	<div class="content">
		<h2>부서 정보</h2>

		<div class="dept-container" th:each="dept : ${deptList}">
			<a th:href="@{'/deptDetail?departmentId=' + ${dept.departmentId}}"
				style="color:black; text-decoration: none;">
				<span th:text="${dept.departmentName}"></span>
			</a>
			<i class="fas fa-edit" th:data-dept-id="${dept.departmentId}" title="수정" style="cursor: pointer;"></i>
			<i class="fas fa-trash-alt" th:data-dept-id="${dept.departmentId}" title="삭제" style="cursor: pointer;"></i>
			<span class="edit-mode" style="display: none;">
				<input type="text" class="edit-input" th:value="${dept.departmentName}">
				<button class="confirm-edit">확인</button>
				<button class="cancel-edit">취소</button>
			</span>
		</div>
		<br>
		<div id="deptManageDiv" style="display: none;">
			<h3>부서 추가</h3>
			<input type="text" id="newDeptInput" placeholder="새 부서명 입력">
			<button id="addDeptBtn">추가</button>
		</div>
		<button id="deptManageBtn">부서 추가</button>
		<input type="hidden" name="_csrf" th:value="${_csrf.token}">

	</div>
	<script>
		const deptManageBtn = document.getElementById('deptManageBtn');
		const deptManageDiv = document.getElementById('deptManageDiv');

		deptManageBtn.addEventListener('click', () => {
			deptManageDiv.style.display = deptManageDiv.style.display === 'none' ? 'block' : 'none';
		});

		const editIcons = document.querySelectorAll('.fa-edit');
		const deleteIcons = document.querySelectorAll('.fa-trash-alt');

		//수정 아이콘 클릭 시 편집모드로 전환
		editIcons.forEach(icon => {
			icon.addEventListener('click', () => {
				const parent = icon.parentElement;
				const editMode = parent.querySelector('.edit-mode');
				const normalMode = parent.querySelector('span:not(.edit-mode)');

				editMode.style.display = 'inline-block';
				normalMode.style.display = 'none';
			});
		});

		// 취소 버튼 클릭 시 편집 모드 종료하는 이벤트 핸들러
		const cancelButtons = document.querySelectorAll('.cancel-edit');
		cancelButtons.forEach(button => {
			button.addEventListener('click', () => {
				const parent = button.parentElement.parentElement;
				const editMode = parent.querySelector('.edit-mode');
				const normalMode = parent.querySelector('span:not(.edit-mode)');

				editMode.style.display = 'none';
				normalMode.style.display = 'inline-block';
			});
		});

		const confirmButtons = document.querySelectorAll('.confirm-edit');
		confirmButtons.forEach(button => {
			button.addEventListener('click', () => {
				const parent = button.parentElement.parentElement;
				const deptId = button.parentElement.previousElementSibling.dataset.deptId;
				const newDeptName = button.parentElement.querySelector('.edit-input').value;

				const url = `/deptUpdate?departmentId=${deptId}&departmentName=${encodeURIComponent(newDeptName)}`;
				const csrfToken = document.querySelector('input[name="_csrf"]').value;

				fetch(url, {
					method: 'POST',
					headers: {
						'X-CSRF-TOKEN': csrfToken
					}
				})
					.then(response => response.json())
					.then(data => {
						console.log(data.message);
						// 성공적으로 업데이트되면 편집 모드를 종료하고 화면에 업데이트된 내용을 반영합니다.
						if (data.status === 'success') {
							const normalMode = parent.querySelector('span:not(.edit-mode)');
							normalMode.textContent = newDeptName; // 이 부분을 수정

							const editMode = parent.querySelector('.edit-mode');
							editMode.style.display = 'none';
							normalMode.style.display = 'inline-block';
						}
					})
					.catch(error => {
						console.error('부서명 업데이트 중 오류 발생:', error);
					});
			});
		});

		deleteIcons.forEach(icon => {
			icon.addEventListener('click', () => {
				const deptId = icon.dataset.deptId;
				// 부서 삭제 기능 구현
				if (confirm("정말 삭제하시겠습니까?")) {
					window.location.href = `deptDelete?departmentId=${deptId}`;
				}
				console.log(`삭제 버튼 클릭: 부서 ID ${deptId}`);
			});
		});

		addDeptBtn.addEventListener('click', () => {
			const newDeptName = newDeptInput.value.trim();
			if (newDeptName) {
				const url = `/deptAdd?departmentName=${encodeURIComponent(newDeptName)}`;
				// JavaScript에서 CSRF 토큰 가져오기
				const csrfToken = document.querySelector('input[name="_csrf"]').value;

				// fetch 요청 시 CSRF 토큰 포함
				fetch(url, {
					method: 'POST',
					headers: {
						'X-CSRF-TOKEN': csrfToken
					}
				})
					.then(response => {
						if (response.ok) {
							return response.json();
						} else {
							throw new Error('부서 추가 실패');
						}
					})
					.then(data => {
						console.log(data.message);
						if (data.status === 'success') {
							const editedName = parent.querySelector('span:not(.edit-mode)'); // 수정
							console.log(editedName);
							editedName.textContent = newDeptName;

							const editMode = parent.querySelector('.edit-mode');
							editMode.style.display = 'none';
							editedName.style.display = 'inline-block'; // 수정
						}

					})
					.catch(error => {
						console.error('부서 추가 요청 중 오류 발생:', error);
					});
			}
		});

	</script>
</body>

</html>