<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>OfficeMate</title>
  <link rel="stylesheet" href="../css/dept_styles.css">
</head>
<body>

  <div class="sidebar">
    <div class="logo">OfficeMate</div>
    <div class="padding"></div> <!-- 여백 추가 -->

    <ul class="menu">
      <li><a href="notice.html">공지사항</a></li>
      <li><a href="dept.html" style="background-color:#185066">부서</a></li>
      <li><a href="work.html">업무</a></li>
      <li><a href="commute.html">출퇴근</a></li>
      <li><a href="docu.html">문서</a></li>
      <li><a href="salary.html">급여지급</a></li>
      <li><a href="emp_manage.html">전체사원관리</a></li>
    </ul>
  </div>

  <div class="content">
    <h2>부서 정보</h2>
    <br>
    <hr>
    <table>
      <tr>
          <th class="e_role">직급</th>
          <th class="e_name">이름</th>
          <th class="e_email">이메일</th>
      </tr>
      <tr class="e_detail" onclick="location.href='emp_manage.html'">
          <td>사원</td>
          <td>장성민</td>
          <td>32193862@dankook.ac.kr</td>
      </tr>
      <tr class="e_detail" href="#">
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr class="e_detail" href="#">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="e_detail" href="#">
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr class="e_detail" href="#">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="e_detail" href="#">
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr class="e_detail" href="#">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="e_detail" href="#">
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr class="e_detail" href="#">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr class="e_detail" href="#">
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr class="e_detail" href="#">
        <td></td>
        <td></td>
        <td></td>
      </tr>
      
    </table>
  </div>

</body>
</html>
