<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>OfficeMate</title>
	<link rel="stylesheet" href="css/notice_styles.css">
</head>

<body>

	<div class="sidebar">
		<div class="logo">OfficeMate</div>
		<div class="padding"></div> <!-- 여백 추가 -->

		<ul class="menu">
			<li><a href="notice" style="background-color:#185066">공지사항</a></li>
			<li><a href="dept">부서</a></li>
			<li><a href="work">업무</a></li>
			<li><a href="commute">출퇴근</a></li>
			<li><a href="document">문서</a></li>
			<li><a href="salary">급여지급</a></li>
			<li><a href="emp_manage">전체사원관리</a></li>
		</ul>
	</div>

	<div class="login-container">
		<button class="login-button">로그인</button>
	</div>

	<div class="content">
		<h2>공지사항</h2>
		<div sec:authorize="hasRole('ADMIN')">
			<br>
			<button class="notice_add" onclick="location.href='admin/notice_add'">공지 등록</button>
		<hr>
		</div>
		<table>
			<tr>
				<th class="ttitle">제목</th>
				<th class="twriter">작성자</th>
				<th class="tdate">작성일자</th>
				<th class="tdate">수정일자</th>
			</tr>
			<tr th:each="notice : ${noticeList}">
				<td><a th:href="@{'/notice/' + ${notice.noticeId}}" style="color: black;"><span
							th:text="${notice.title}"></span></a></td>
				<td>관리자</td>
				<td th:text="${notice.postDate}"></td>
				<td th:text="${notice.updateDate}"></td>
			</tr>
		</table>
		<!-- 페이징 넘버-->
		<div id="pagination">
			<!-- 맨 처음 페이지로 이동하는 버튼 -->
		    <span th:if="${pageDTO.startPage > 1}">
		        <a th:href="@{'/notice?page=1'}" th:text="'처음&emsp;'"></a>
		    </span>
		
			<!-- 이전 블록으로 이동하는 버튼 -->
		    <span th:if="${pageDTO.isPrev == true}">
		    	<a th:href="@{'/notice?page='+${pageDTO.startPage - 1}}" th:text="'이전'"></a>
		    </span>
		
		    <!-- 시퀀스 보여주는 값을 변경. -->
		    <span th:each="pageNum : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
		        <a class="div2" th:href="@{'/notice?page='+${pageNum}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
		    </span>
			
		    <!-- 다음 블록으로 이동하는 버튼 -->
		    <span th:if="${pageDTO.isNext == true}">
			<a th:href="@{'/notice?page='+|${pageDTO.endPage + 1}|}" th:text="'다음'"></a>
		    </span>
			
		    <!-- 맨 뒷 페이지로 이동하는 버튼 -->
		    <span th:if="${pageDTO.endPage < pageDTO.totalPageCount}">
			<a th:href="@{'/notice?page='+${pageDTO.totalPageCount}}" th:text="|&emsp;끝|"></a>
		    </span>
		</div>
	</div>

</body>

</html>