<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OfficeMate</title>
	<link rel="stylesheet" href="../css/notice_styles.css">
	<link rel="stylesheet" href="../css/total_styles.css">
</head>


<script th:inline="javascript">
	function confirmDelete(url) {
		if (confirm("공지사항을 삭제하시겠습니까?")) {
			window.location.href = url;
		}
	}
</script>

<body style="background-color: aliceblue;">

	<div class="sidebar">
		<a href="/home" style="text-decoration: none;">
			<div class="logo">OfficeMate</div>
		</a>
		<div class="padding"></div> <!-- 여백 추가 -->

		<ul class="menu">
			<li><a href="../notice" style="background-color:#185066">공지사항</a></li>
			<li><a href="../dept">부서</a></li>
			<li><a href="../work">업무</a></li>
			<li><a href="../approval">결재</a></li>
			<li><a href="../attendance">근태</a></li>
			<li><a href="../document">문서</a></li>
			<li><a href="../salary">급여</a></li>
			<div sec:authorize="hasRole('ADMIN')">
				<li><a href="../admin/empManage">전체사원관리</a></li>
			</div>
		</ul>
		<div class="action-container">
			<span class="usernameCss" th:text="${username}"></span><span class="usernameCss2"> 님 환영합니다!</span><br>
			<a class="logout" href="/logout">로그아웃</a>
			<a class="myProfile" href="../userDetailDefault">내 정보</a>
		</div>
	</div>

	<div class="content">
		<header>
			<h1 th:text="${notice.title}"></h1>
		</header>
		<div class="button-container" sec:authorize="hasRole('ADMIN')">
			<a th:href="@{'/admin/noticeEdit/' + ${notice.noticeId}}"><button class="notice_edit">공지 수정</button></a>

			<button class="notice_delete"
				th:onclick="|confirmDelete('@{/admin/noticeDelete(noticeId=${notice.noticeId})}')|">공지 삭제</button>
		</div>
		<form class="notice_form">

			<div>
				<span class="notice_details">작성자: </span>관리자
				<span class="notice_details">작성일: </span><span
					th:text="${#strings.substring(notice.postDate, 0, 16)}"></span>
				<hr>
			</div>
			<div style="margin:1%">
				<div th:if="${base64EncodedFile != null}">
					<!-- 이미지를 base64 인코딩된 문자열로 표시 -->
					<img th:src="'data:image/*;base64,' + ${base64EncodedFile}" class="rounded mx-auto d-block" alt="Notice Image" width="400" height="400">
				</div>
				<br>
				<textarea readonly th:text="${notice.content}" style="width:100%; height: 400px; border: none; font-size: 16px;"></textarea>
				<input type="hidden" name="noticeId" th:value="${notice.noticeId}">
			</div>
		</form>
	</div>
	<footer class="footer">
	    <a href="/contact">Contact</a>
	    <a href="/about">About</a>
	    <a href="/privacy">Privacy Policy</a>
	</footer>
	<div class="logo2">
			OfficeMate
	</div>


</body>

</html>