<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>OfficeMate</title>
	<link rel="stylesheet" href="../css/notice_styles.css">
</head>

<body>

	<div class="sidebar">
		<div class="logo">OfficeMate</div>
		<div class="padding"></div> <!-- 여백 추가 -->

		<ul class="menu">
			<li><a href="../notice" style="background-color:#185066">공지사항</a></li>
			<li><a href="../dept">부서</a></li>
			<li><a href="../work">업무</a></li>
			<li><a href="../commute">출퇴근</a></li>
			<li><a href="../document">문서</a></li>
			<li><a href="../salary">급여지급</a></li>
			<li><a href="../emp_manage">전체사원관리</a></li>
		</ul>
	</div>
	<div class="login-container">
		<button class="login-button">로그인</button>
	</div>

	<div class="content">
		<h2>공지사항 등록</h2>
		<br>
		<form class="notice_form" action="/admin/noticeAddConfirm" method="post" enctype="multipart/form-data">
		    <button class="notice_edit" style="right:120px" type="submit">등록 완료</button>
		    <hr>
		    <textarea class="notice_name" name="title" placeholder="Title"></textarea>
		    <hr>
		    <!-- 이미지 파일 업로드 -->
			<div>
			    <label for="imageFile" class="form-label">이미지 파일</label>
			    <input type="file" class="form-control" id="imageFile" name="files">
			</div>
		    <textarea class="notice_text" name="content" placeholder="Contents"></textarea>
			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		</form>
	</div>


</body>

</html>