<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OfficeMate</title>
  <link rel="stylesheet" href="css/docu_styles.css">
</head>
<body>
    
  <div class="sidebar">
    <div class="logo">OfficeMate</div>
    <div class="padding"></div> <!-- 여백 추가 -->
	<ul class="menu">
		<li><a href="notice">공지사항</a></li>
		<li><a href="dept">부서</a></li>
		<li><a href="work">업무</a></li>
		<li><a href="commute">출퇴근</a></li>
		<li><a href="docu" style="background-color:#185066">문서</a></li>
		<li><a href="salary">급여지급</a></li>
		<li><a href="emp_manage">전체사원관리</a></li>
	</ul>
  </div>
  
  <div class="content">
    <h2>문서</h2>
    <br>
      <button class="docu_add" onclick="location.href='docu_add.html'">등록</button>
    <hr>
    <table>
      <tr>
          <th class="dtitle">제목</th>
          <th class="dwriter">작성자</th>
          <th class="ddate">작성일자</th>
      </tr>
      <tr class="docu" onclick="location.href='docu_content.html'">
          <td>문서 예시</td>
          <td class="dwriter">장성민</td>
          <td class="ddate">2024/05/04</td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
      <tr class="docu" href="#">
          <td ></td>
          <td class="dwriter"></td>
          <td class="ddate"></td>
      </tr>
    </table>
  </div>

</body>
</html>
