<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OfficeMate</title>
  <link rel="stylesheet" href="css/notice_styles.css">
</head>
<body>
    
  <div class="sidebar">
    <div class="logo">OfficeMate</div>
    <div class="padding"></div> <!-- 여백 추가 -->
		 <ul class="menu">
		   <li><a href="notice">공지사항</a></li>
		   <li><a href="dept">부서</a></li>
		   <li><a href="work">업무</a></li>
		   <li><a href="commute">출퇴근</a></li>
		   <li><a href="docu" style="background-color:#185066">문서</a></li>
		   <li><a href="salary">급여지급</a></li>
		   <li><a href="emp_manage">전체사원관리</a></li>
		 </ul>
  </div>

  <div class="login-container">
    <button class="login-button">로그인</button>
  </div>
  
  <div class="content">
    <h2>공지사항</h2>
    <hr>
    <table>
      <tr>
          <th style="width:70%">제목</th>
          <th style="width:15%">작성자</th>
          <th style="width:15%">작성일자</th>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
          <td></td>
          <td></td>
          <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td></td>
  <td></td>
  <td></td>
</tr>
<tr>
<td></td>
<td></td>
<td></td>
</tr>
  </table>
  


</body>
</html>
