<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>OfficeMate</title>
	<link rel="stylesheet" href="../css/work_styles.css">
</head>

<body>

	<div class="sidebar">
		<div class="logo">OfficeMate</div>
		<div class="padding"></div> <!-- 여백 추가 -->

		<ul class="menu">
			<li><a href="../notice" style="background-color:#185066">공지사항</a></li>
			<li><a href="../dept">부서</a></li>
			<li><a href="../work">업무</a></li>
			<li><a href="../commute">출퇴근</a></li>
			<li><a href="../document">문서</a></li>
			<li><a href="../salary">급여지급</a></li>
			<li><a href="../emp_manage">전체사원관리</a></li>
		</ul>
	</div>

	<div class="content">
		<h2 th:text="${work.title}"></h2>
		<div sec:authorize="hasRole('ADMIN')"> <!--어드민이 아니라 유저가 보는 화면이니 관리자인지 확인하고 기능하는 부분은 다 수정해주시길 바랍니다.-->
		<br>
		<a th:href="@{'/admin/work_user_edit/' + ${work.workId}}"><button class="work_edit">업무 수정</button></a>
    </div>
		<hr>
		<form class="work_form">
			<br>
			<span th:text="${work.content}"></span>
			<input type="hidden" name="workId" th:value="${work.workId}">
		</form>
	</div>


</body>

</html>