<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>OfficeMate</title>
	<link rel="stylesheet" href="css/work_styles.css">
    <script>
        function validateForm() {
            var workName = document.querySelector('textarea[name="workName"]').value;
            if (workName.trim() === "") {
                alert("업무명을 입력해주세요.");
                return false;
            }
            return true;
        }
		
		window.onload = function() {
		    var datetimeInput = document.getElementById('datetime');
		    var today = new Date().toISOString().slice(0, 16); // 시간까지 포함
		    datetimeInput.value = today;
		}

		
    </script>
</head>

<body>

	<div class="sidebar">
		<div class="logo">OfficeMate</div>
		<div class="padding"></div> <!-- 여백 추가 -->

		<ul class="menu">
			<li><a href="notice">공지사항</a></li>
			<li><a href="dept">부서</a></li>
			<li><a href="work" style="background-color:#185066">업무</a></li>
			<li><a href="commute">출퇴근</a></li>
			<li><a href="document">문서</a></li>
			<li><a href="salary">급여지급</a></li>
			<li><a href="emp_manage">전체사원관리</a></li>
		</ul>
	</div>

	<div class="content">
		<h2>업무 등록</h2>
		<form th:action="@{/workAddConfirm}" method="post" onsubmit="return validateForm()">
			<label for="datetime">기한:
			  <input type="datetime-local"
			         id="datetime"
			         name="dueDate"
			         max="2077-06-20T23:59"
			         min="2010-06-05T00:00">
			</label>(까지)
		    <button class="docu_add" style="right:120px" type="submit">완료</button>
		    <br>
		    <hr>
			<textarea class="docu_name" name="workName" placeholder="업무명"></textarea>
			<hr>
			<textarea class="docu_text" name="description" placeholder="업무 상세 설명"></textarea>
		</form>
	</div>

</body>

</html>
