<!DOCTYPE html>
<html lang="ko">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>OfficeMate</title>
	<link rel="stylesheet" href="../css/work_styles.css">
	
	<script th:inline="javascript">
		document.addEventListener('DOMContentLoaded', function () {
			const statusSelects = document.querySelectorAll('.status-select');
			const csrfToken = document.querySelector('input[name="_csrf"]').value;
	
			statusSelects.forEach(select => {
				select.addEventListener('change', () => {
					const workId = select.dataset.workId;
					const newStatus = select.value;
					const row = select.parentNode.parentNode;
	
					const url = `/updateWorkStatus?workId=${workId}&status=${encodeURIComponent(newStatus)}`;
	
					fetch(url, {
						method: 'POST',
						headers: {
							'X-CSRF-TOKEN': csrfToken,
							'Content-Type': 'application/json'
						},
					})
						.then(response => response.json())
						.then(data => {
							if (data.status === 'success') {
								const statusSpan = row.querySelector('.work-status');
								statusSpan.textContent = data.st;
							} else {
								console.error(data.message);
							}
						})
						.catch(error => {
							console.error('작업 상태 업데이트 중 오류 발생:', error);
						});
				});
			});
	});
	</script>
	
</head>

<body>

	<div class="sidebar">
		<a href="/home" style="text-decoration: none;"><div class="logo">OfficeMate</div></a>
		<div class="padding"></div> <!-- 여백 추가 -->
		<ul class="menu">
			<li><a href="../notice">공지사항</a></li>
			<li><a href="../dept">부서</a></li>
			<li><a href="../work" style="background-color:#185066">업무</a></li>
			<li><a href="../attendance">출퇴근</a></li>
			<li><a href="../document">문서</a></li>
			<li><a href="../salary">급여지급</a></li>
			<div sec:authorize="hasRole('ADMIN')">
				<li><a href="../admin/empManage">전체사원관리</a></li>
			</div>
		</ul>
	</div>

	<div class="login-container">
		<button class="login-button">로그인</button>
	</div>

	<div class="content">
		<h2>완료된 전체 업무</h2>
		<br>

		<button class="work_button work_add" onclick="location.href='work'">진행중인 업무 확인</button>

		<hr>
		<table>
			<tr>
				<th style="width:10%">부서</th>
				<th style="width:20%">업무명</th>
				<th style="width:15%">담당자</th>
				<th style="width:15%">마감 날짜</th>
				<th style="width:10%">작업상태</th>
			</tr>
			<tr th:each="work : ${workList}">
				<td th:each="dept : ${deptList}"
				    th:if="${dept.departmentId} == ${work.departmentsId}"
				    th:text="${dept.departmentName}"></td>
				<td th:text="${work.workName}" th:onclick="|location.href='@{'/work/' + ${work.workId}}'|" style="cursor: pointer;"></td>
				<td th:each="user : ${userList}" th:if="${user.userId == work.assignedTo}" th:text="${user.username}"></td>
				<td th:text="${work.dueDate}"></td>
				<td class="work-status" th:text="${work.status}" th:id="'status-' + ${work.workId}"></td>
			</tr>
		</table>
		<input type="hidden" name="_csrf" th:value="${_csrf.token}">
		
		<div id="pagination">
			<!-- 맨 처음 페이지로 이동하는 버튼 -->
		    <span th:if="${pageDTO.startPage > 1}">
		        <a th:href="@{'/work?page=1'}" th:text="'처음&emsp;'"></a>
		    </span>
		
			<!-- 이전 블록으로 이동하는 버튼 -->
		    <span th:if="${pageDTO.isPrev == true}">
		    	<a th:href="@{'/work?page='+${pageDTO.startPage - 1}}" th:text="'이전'"></a>
		    </span>
		
		    <!-- 시퀀스 보여주는 값을 변경. -->
		    <span th:each="pageNum : ${#numbers.sequence(pageDTO.startPage, pageDTO.endPage)}">
		        <a class="div2" th:href="@{'/work?page='+${pageNum}}" th:text="|&emsp;${pageNum}&emsp;|"></a>
		    </span>
			
		    <!-- 다음 블록으로 이동하는 버튼 -->
		    <span th:if="${pageDTO.isNext == true}">
			<a th:href="@{'/work?page='+|${pageDTO.endPage + 1}|}" th:text="'다음'"></a>
		    </span>
			
		    <!-- 맨 뒷 페이지로 이동하는 버튼 -->
		    <span th:if="${pageDTO.endPage < pageDTO.totalPageCount}">
			<a th:href="@{'/work?page='+${pageDTO.totalPageCount}}" th:text="|&emsp;끝|"></a>
		    </span>
		</div>
	</div>

</body>

</html>